frontend/node_modules
frontend/dist
frontend/.pnpm-lock.yaml

backend/auth/static
backend/auth/api/migrations/*.py
backend/auth/api/migrations/*.pyc
backend/auth/api/__pycache__/

backend/auth/core/__pycache__/