@font-face {
  font-family: "DIN-Next-W1G";
  src: url("../../public/fonts/dinnextw1g.otf") format("opentype");
}

@font-face {
  font-family: "Tungsten-bold";
  src: url("../../public/fonts/Tungsten-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "VALORANT";
  src: url("../../public/fonts/Valorant Font.ttf") format("truetype");
}

:root {
  --bg-color: #ece8e1;
  --principale: #bb3b3b;
  --text-game: #38bda2;
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #f4f2f2;
  --primary-color-light: #f4f2f2;
  --toggle-color: #ddd;
  --text-color: #707070;
  --text: #ece8e1;
  --dark-color: #000;
  --sidebar: #0f1923;

  --trans-02: all 0.2s ease;
  --trans-03: all 0.3s ease;
  --trans-04: all 0.4s ease;
  --trans-04: all 0.5s ease;
  --principale: #bb3b3b;

  --principale: #ff4655;
  --principale-dark: #ff1f30;
  --valorant-dark: #1f2326;
  --background: #0f1923;
  --menu-timing: 0.6s;
}

body {
  background-color: #ece8e1;
  overflow-x: hidden;
  color: #333;
}

/* Modern browsers - Standard property */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--principale) transparent;
}

/* Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--principale);
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* For Firefox */
* {
  scroll-behavior: smooth;
}

/* For Edge */
@supports (-ms-overflow-style: none) {
  * {
    -ms-overflow-style: auto;
    scrollbar-width: thin;
  }
}

/* For Internet Explorer */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  * {
    -ms-overflow-style: auto;
  }
}
.layout {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
}
